$color: #dc3545; //bootstrap danger color

.select {
  .error-border {
    &__control {
      border-color: $color;
      box-shadow: 0px 0px 0px;

      &:hover {
		border-color: $color;
        box-shadow: 0px 0px 3px $color;
	  }
    }
  }
}
